<%- include('partials/_headerMenuEmpleado') %>
    <div class="imagenFondo contenedorModuloEmpleado">
        <div class="contenedorMenuSlider">
            <%- include('partials/_slideBarMenu') %>
        </div>
        <div class="contenedorContenidoModuloEmpleado">
            <div class="encabezadoControl">
                <h3>
                    Control Usuarios
                </h3>
                <div class="flexRow" style="align-items: baseline;">
                    <p style="margin-right: 8px;">Generar reporte:</p>
                    <div class="flexColum">
                        <select name="reporte" id="reporte">
                            <option value="0">Seleccion</option>
                        </select>
                        <button class="botonReporte botonVerde">
                            Generar
                        </button>
                    </div>
                </div>
            </div>
            <div class="separadorTablasControles">
                <p>Nombre de Campos</p>
                <p style="margin-left: 50%" ;>Ingresar</p>
            </div>
            <div class="contenedorCrud">
                <div class="contenedorTabla">
                    <table class="tabla">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Edad</th>
                            <th>Sexo</th>
                            <th>Email</th>
                            <th>Tipo</th>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        <tr>
                            <td>04131999038</td>
                            <td>Jose</td>
                            <td>Portillo</td>
                            <td>23</td>
                            <td>H</td>
                            <td>edgardoportillo05@gmail.com</td>
                            <td>Cliente</td>
                        </tr>
                        
                    </table>
                </div>
                <div class="contenedorPanelBotones">
                    <div class="inputCRUD">
                        <label for="idUsuario">Id:</label>
                        <input type="text" name="idUsuario" id="idUsuario">
                    </div>
                    <div class="inputCRUD">
                        <label for="Nombre">Nombre</label>
                        <input type="text" name="nombreUsuario" id="nombreUsuario">
                    </div>
                    <div class="inputCRUD">
                        <label for="apellidoUsuario">Apellido</label>
                        <input type="text" name="apellidoUsuario" id="apellidoUsuario">
                    </div>
                    <div class="inputCRUD">
                        <label for="edadUsuario">Edad</label>
                        <input type="number" name="edadUsuario" id="edadUsuario">
                    </div>
                    <div class="inputCRUD">
                        <label for="sexoUsuario">Sexo</label>
                        <select name="sexoUsuario" id="sexoUsuario">
                            <option value="N">Seleccione</option>
                            <option value="H">Hombre</option>
                            <option value="M">Mujer</option>
                        </select>
                    </div>
                    <div class="inputCRUD">
                        <label for="emailUsuario">Email</label>
                        <input type="text" name="emailUsuario" id="emailUsuario">
                    </div>
                    <div class="inputCRUD">
                        <label for="tipoUsuario">Tipo</label>
                        <select name="tipoUsuario" id="tipoUsuario">
                            <option value="0">Seleccione</option>
                            <option value="1">Administrado</option>
                            <option value="2">Empleado</option>
                            <option value="3">Cliente</option>
                        </select>
                    </div>
                    <div class="inputCRUD">
                        <label for="mostrarTipoUsuario">Mostrar</label>
                        <select name="mostrarTipoUsuario" id="mostrarTipoUsuario">
                            <option value="0">Seleccione</option>
                            <option value="1">Administrado</option>
                            <option value="2">Empleado</option>
                            <option value="3">Cliente</option>
                        </select>
                    </div>
                    <div class="contenedorBotonesCRUD">
                        <div class="botonesCRUD">
                            <div class="flexColum">
                                <div class="flexRow">
                                    <button class="botonCRUDCorto">
                                    Mostrar
                                    </button>
                                    <button class="botonCRUDCorto">
                                    Nuevo
                                    </button>
                                </div>
                                <button class="botonCRUDCorto">
                                    Actualizar
                                </button>
                                <button class="botonCRUDCorto">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/_footer') %>