<%- include('partials/_header.ejs') %>
<%- include('partials/_slider.ejs') %>
        <main>
            <div class="contenedorTarjetas">
                <div class="tarjetaTitulo">
                    <h2>Recomendaciones que tenemos para ti.</h2>
                </div>
                <div class="tarjetaProducto">
                    <img src="https://img.ltwebstatic.com/images3_pi/2021/04/19/161880556392370b09e0ee50646b02e58336d791af_thumbnail_405x552.webp" alt="" srcset="" class="imgProducto">
                    <div class="tarjetaDatos">
                        <h3>Camiseta Tropical</h3>
                        <p>Descripcion del Producto</p>
                        <div class="flexRow tarjetaDatosPrecio">
                            <p>Precio:</p>
                            <P>L.1200</P>
                        </div>
                        <div class="contenedorBoton">
                            <button class="boton flexRow">
                                <p> Agregar a Carrito</p>
                                <span class="material-icons">
                                    shopping_cart
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tarjetaProducto">
                    <img src="https://img.ltwebstatic.com/images3_pi/2021/04/19/161880556392370b09e0ee50646b02e58336d791af_thumbnail_405x552.webp" alt="" srcset="" class="imgProducto">
                    <div class="tarjetaDatos">
                        <h3>Camiseta Tropical</h3>
                        <p>Descripcion del Producto</p>
                        <div class="flexRow tarjetaDatosPrecio">
                            <p>Precio:</p>
                            <P>L.1200</P>
                        </div>
                        <div class="contenedorBoton">
                            <button class="boton flexRow">
                                <p> Agregar a Carrito</p>
                                <span class="material-icons">
                                    shopping_cart
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tarjetaProducto">
                    <img src="https://img.ltwebstatic.com/images3_pi/2021/04/19/161880556392370b09e0ee50646b02e58336d791af_thumbnail_405x552.webp" alt="" srcset="" class="imgProducto">
                    <div class="tarjetaDatos">
                        <h3>Camiseta Tropical</h3>
                        <p>Descripcion del Producto</p>
                        <div class="flexRow tarjetaDatosPrecio">
                            <p>Precio:</p>
                            <P>L.1200</P>
                        </div>
                        <div class="contenedorBoton">
                            <button class="boton flexRow">
                                <p> Agregar a Carrito</p>
                                <span class="material-icons">
                                    shopping_cart
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedorAnuncios">
                <div class="tarjetaAnuncio tarjetaRegresoClase">
                    <div class="flexColum">
                        <img src="/img/ink-brush.png" alt="" srcset="">
                        <h3 class="tituloRegresoClase">Regreso a clases!</h3>
                    </div>
                    <div class="contenedorDatosAnuncio">
                        <p>Lleva las prendas para tus pequeños en este regreso a clase</p>
                        <button class="boton BotonRegresoClase fuenteBotonAnuncio">
                            Ir a ropa de Niños.
                        </button>
                    </div>
                </div>
                <div class="tarjetaAnuncio tarjetaTrajes flexColum">
                    <div class="flexRow">
                        <h3>Todo en Trajes y Corbatas</h3>
                        <img src="/img/corbata.png" alt="" srcset="" class="">
                    </div>
                    <button class="boton botonTrajes fuenteBotonAnuncio">
                        Ir a ropa de Hombre.
                    </button>
                </div>
                <div class="tarjetaAnuncio tarjetaGorra flexColum">
                    <div class="flexRow">
                        <img src="/img/gorra.png" alt="" srcset="" class="">
                        <h3>Especial Gorras!</h3>
                    </div>
                    <button class="boton botonAzul fuenteBotonAnuncio">
                        Ir a ropa de Hombres.
                    </button>
                </div>
            </div>
        </main>
<%- include('partials/_footer.ejs') %>