<%- include('partials/_header.ejs') %>
<%- include('partials/_slider.ejs') %>
        <main class="mainColor">
            <div class="bordeDegradado">
                
            </div>
            <div class="contenedorTarjetas">
                <div class="tarjetaTitulo">
                    <h2>Recomendaciones que tenemos para ti.</h2>
                </div>
                <div class="tarjetaProducto">
                    <img src="https://img.ltwebstatic.com/images3_pi/2021/04/19/161880556392370b09e0ee50646b02e58336d791af_thumbnail_405x552.webp" alt="" srcset="" class="imgProducto">
                    <div class="tarjetaDatos">
                        <h3>Camiseta Tropical</h3>
                        <p>Descripcion del Producto</p>
                        <div class="flexRow tarjetaDatosPrecio">
                            <p>Precio:</p>
                            <P>L.1200</P>
                        </div>
                        <div class="contenedorBoton">
                            <button class="botonTarjeta flexRow botonAzul">
                                <p> Agregar a Carrito</p>
                                <span class="material-icons">
                                    shopping_cart
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tarjetaProducto">
                    <img src="https://img.ltwebstatic.com/images3_pi/2021/04/19/161880556392370b09e0ee50646b02e58336d791af_thumbnail_405x552.webp" alt="" srcset="" class="imgProducto">
                    <div class="tarjetaDatos">
                        <h3>Camiseta Tropical</h3>
                        <p>Descripcion del Producto</p>
                        <div class="flexRow tarjetaDatosPrecio">
                            <p>Precio:</p>
                            <P>L.1200</P>
                        </div>
                        <div class="contenedorBoton">
                            <button class="botonTarjeta flexRow botonAzul">
                                <p> Agregar a Carrito</p>
                                <span class="material-icons">
                                    shopping_cart
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tarjetaProducto">
                    <img src="https://img.ltwebstatic.com/images3_pi/2021/04/19/161880556392370b09e0ee50646b02e58336d791af_thumbnail_405x552.webp" alt="" srcset="" class="imgProducto">
                    <div class="tarjetaDatos">
                        <h3>Camiseta Tropical</h3>
                        <p>Descripcion del Producto</p>
                        <div class="flexRow tarjetaDatosPrecio">
                            <p>Precio:</p>
                            <P>L.1200</P>
                        </div>
                        <div class="contenedorBoton">
                            <button class="botonTarjeta flexRow botonAzul">
                                <p> Agregar a Carrito</p>
                                <span class="material-icons">
                                    shopping_cart
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedorAnuncios">
                <div class="tarjetaAnuncio tarjetaRegresoClase">
                    <div class="flexColum">
                        <img src="/img/ink-brush.png" alt="" srcset="">
                        <h3>Regreso a clases!</h3>
                    </div>
                    <div class="contenedorDatosAnuncio">
                        <p>Lleva las prendas para tus pequeños en este regreso a clase</p>
                        <button class="botonTarjeta BotonRegresoClase fuenteBotonAnuncio">
                            Ir a ropa de Niños.
                        </button>
                    </div>
                </div>
                <div class="tarjetaAnuncio tarjetaTrajes">
                    <div class="flexRow">
                        <h3>Todo en Trajes y Corbatas</h3>
                        <img src="/img/corbata.png" alt="" srcset="" class="">
                    </div>
                    <button class="botonTarjeta botonTrajes fuenteBotonAnuncio">
                        Ir a ropa de Hombre.
                    </button>
                </div>
                <div class="tarjetaAnuncio tarjetaGorra">
                    <div class="flexRow">
                        <img src="/img/gorra.png" alt="" srcset="" class="">
                        <h3>Especial Gorras!</h3>
                    </div>
                    <button class="botonTarjeta botonAzul fuenteBotonAnuncio">
                        Ir a ropa de Hombre.
                    </button>
                </div>
            </div>
            <div class="contenedorBarraAzul">
                <div class="barraAzul">
                    <h3>Algo sobre sus fundadores</h3>
                </div>
            </div>
            <div class="contenedorFundadores flexRow">
                <div class="tarjetaFundadores">
                    <img src="/img/Havatar.png" alt="" srcset="" class="">
                    <div class="informacionFundadores flexColum">
                        <h3>Edgardo Portillo</h3>
                        <p>Ing.Sistemas</p>
                    </div>
                </div>
                <div class="tarjetaFundadores">
                    <img src="/img/Mavatar.png" alt="" srcset="" class="">
                    <div class="informacionFundadores flexColum">
                        <h3>Jennyfer Nicoll</h3>
                        <p>Ing.Sistemas</p>
                    </div>
                </div>
                <div class="tarjetaFundadores">
                    <img src="/img/Havatar.png" alt="" srcset="" class="">
                    <div class="informacionFundadores flexColum">
                        <h3>Manuel Romero</h3>
                        <p>Ing.Sistemas</p>
                    </div>
                </div>
                <div class="tarjetaFundadores">
                    <img src="/img/Mavatar.png" alt="" srcset="" class="">
                    <div class="informacionFundadores flexColum">
                        <h3>Yosary Santos</h3>
                        <p>Ing.Sistemas</p>
                    </div>
                </div>
                <div class="tarjetaTitulo">
                    <h2>Fundadores de TheLocker</h2>
                </div>
            </div>
<%- include('partials/_footer.ejs') %>