<%- include('partials/_headerMenuEmpleado') %>
    <div class="imagenFondo contenedorModuloEmpleado">
        <div class="contenedorMenuSlider">
            <%- include('partials/_slideBarMenu') %>
        </div>
        <div class="contenedorContenidoModuloEmpleado"> 
            
        </div>
    </div>
<%- include('partials/_footer') %>