<%- include('partials/_headerMenuEmpleado') %>
<div class="contenedorGeneralCategoriasV flexRow">
    <div class="panelInicioEmpleado">
        <h2>Bienvenido  <%= localStorage.getItem('nombreUsuario') %> </h2>
        <h2>Cargo: Admin </h2>
    </div>
</div>
<%- include('partials/_footer') %>