<%- include('partials/_headerSoloLogo.ejs') %>
    <div class="contenedorCentrado imagenFondo">
        <div class="contenedorPrincipalLogin">
            <div class="loginIzq">
                <form action="/thelocker/usuario/guardarCliente" name="registroF" method="post">
                    <h2>Ingresa tus datos</h2>
                    <div>
                        <div class="parInputs">
                            <div class="inputColumn" style="width: 45%;">
                                <label for="nombreUsuario">Nombre:</label>
                                <input id="nombreUsuario" name="nombreUsuario" type="text">
                            </div>
                            <div class="inputColumn" style="width: 45%;">
                                <label for="apellidoUsuario">Apellido:</label>
                                <input id="apellidoUsuario" name="apellidoUsuario" type="text">
                            </div>
                        </div>
                        <div class="parInputs">
                            <div class="inputColumn" style="width: 45%;">
                                <label for="edadUsuario">Edad:</label>
                                <input id="edadUsuario" name="edadUsuario" type="text">
                            </div>

                            <div class="inputColumn" style="width: 45%;">
                                <label for="sexoUsuario">Sexo:</label>
                                <select name="sexoUsuario" id="sexoUsuario">
                                    <option selected value="0">Seleccione:</option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="contenedorInputsColumn">
                        <label>Email:</label>
                        <input class="cajaTexto" id="emailUsuario" name="emailUsuario" type="text" maxlength="50" minlength="2">
                        <label>Contraseña:</label>
                        <input id="password" name="password" type="text" maxlength="15" minlength="2">
                    </div>
                    <p class="mensajeError">Parece que hubo un problema al intentar registrarte</p>
                    <button class="boton" type="submit" onclick="validarFormulario()">
                        Registrarse
                    </button>
                </form>
            </div>
            <div class="loginDer">
                <div>
                    <h2>Registro</h2>
                    <p>Rellena el formulario con todos tus datos luego presiona el botón registrarse.</p>
                </div>
                <div>
                    <p>¿Ya tienes una cuenta?</p>
                    <button class="boton">
                    Iniciar Sesion
                </button>
                </div>
            </div>
        </div>
        <script src="/scripts/validaciones.js"></script>
    </div>
    <%- include('partials/_footer.ejs') %>