body {
    font-family: 'Dosis', sans-serif;
    margin: 0%;
    min-height: calc(100vh - 50px);
}

header {
    background-color: var(--colorTres);
}

:root {
    --colorUno: #041C32;
    --colorDos: #04293A;
    --colorTres: #064663;
    --colorCuatro: #ECB365;
}

header h1 {
    font-family: 'Kaushan Script', cursive;
    margin: 0%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.headerSecc {
    font-family: 'Dosis', sans-serif;
    font-size: large;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

header li a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.contenedorLogo {
    width: 20%;
}

.imagenLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagenLogo img {
    width: 60px;
    height: 60px;
}

.Logo {
    width: 100%;
    background-color: var(--colorCuatro);
    text-shadow: rgba(0, 0, 0, 0.597) 2px 2px 1px;
    justify-content: end;
}

.esquina {
    border-top: 70px solid var(--colorCuatro);
    border-right: 70px solid var(--colorTres);
}

.mainColor {
    background-color: #7696A5;
}

.bordeDegradado {
    width: 100%;
    height: 150px;
    background: linear-gradient( #fff, #7696A5);
}

.contenedorTarjetas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5% 15% 1% 15%;
}

.tarjetaTitulo {
    background-color: var(--colorCuatro);
    width: 20%;
    padding: 3% 3% 3% 3%;
    box-shadow: #000 2px 3px 5px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.tarjetaTitulo h2 {
    text-shadow: rgba(0, 0, 0, 0.418) 1px 1px 1px;
    font-size: 130%;
    text-align: start;
}

.imgProducto {
    width: 100%;
    height: 65%;
}

.tarjetaProducto {
    background-color: #fff;
    width: 24%;
    box-shadow: rgba(0, 0, 0, 0.616) 2px 3px 10px;
    height: 100%;
}

.tarjetaDatos {
    padding: 4%;
    height: 12%;
}

.tarjetaDatos h3 {
    width: 100%;
    font-size: 25px;
}

.tarjetaDatos p {
    font-size: 120%;
}

.tarjetaDatosPrecio {
    justify-content: space-between;
    align-items: center;
}

.botonTarjeta {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    margin: 10px 0px 10px 0px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.459) 2px 3px 10px;
    border-radius: 17px;
}

.contenedorAnuncios {
    padding: 1% 15% 2% 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tarjetaAnuncio {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 31%;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.459) 2px 3px 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjetaAnuncio h3 {
    font-size: 180%;
    font-family: 'Kaushan Script', cursive;
}

.tarjetaAnuncio img {
    width: 100%;
}

.flexColum {
    display: flex;
    flex-direction: column;
}

.tarjetaRegresoClase h3 {
    font-family: 'Kaushan Script', cursive;
    margin-top: -20%;
    color: #fff;
    padding-left: 5%;
}

.tarjetaRegresoClase {
    background-color: #F9D302;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjetaRegresoClase img {
    height: 90%;
}

.contenedorDatosAnuncio p {
    font-size: 30px;
    margin-bottom: 2%;
}

.BotonRegresoClase {
    background-color: #000;
    color: #fff;
}

.tarjetaTrajes {
    font-family: 'Kaushan Script', cursive;
    background-color: #000;
    color: #fff;
    justify-content: space-between;
}

.tarjetaTrajes img {
    width: 100px;
}

.tarjetaGorra {
    background-color: #fff;
    justify-content: space-between;
}

.tarjetaGorra img {
    width: 50%;
}

.botonAzul {
    background-color: var(--colorTres);
    color: #fff;
}

.fuenteBotonAnuncio {
    font-size: 15px;
}

.contenedorBarraAzul {
    padding: 1% 16% 1% 16%;
}

.barraAzul {
    background-color: var(--colorTres);
    height: 5%;
    text-align: center;
    padding: 2%;
    font-size: 20px;
    color: #fff;
    font-weight: lighter;
}

.contenedorFundadores {
    padding: 1% 15% 3% 15%;
    justify-content: space-around;
}

.tarjetaFundadores {
    width: 18%;
}

.tarjetaFundadores img {
    width: 100%;
}

.informacionFundadores {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.contenedorCentrado {
    display: flex;
    flex-direction: column;
    height: 800px;
}

.imagenFondo {
    background-image: url('/img/fondo.bmp');
}

.contenedorPrincipalLogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin-top: 9%;
}

.loginIzq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--colorTres);
    color: white;
    padding: 3% 5% 3% 5%;
    border-radius: 10px;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 6px 20px;
}

input {
    border: 0px none;
    padding: 8px;
    margin-bottom: 3%;
    background-color: #EFEFF1;
    color: rgb(49, 48, 48);
    border-radius: 5px;
    width: 100%;
}

select {
    border: 0px none;
    padding: 8px;
    margin-bottom: 3%;
    background-color: #EFEFF1;
    color: rgb(49, 48, 48);
    border-radius: 5px;
    width: 100%;
}

select:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.parInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedorInputsColumn {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    text-align: start;
}

.inputColumn {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.loginDer {
    background-color: var(--colorCuatro);
    color: #000;
    padding: 3% 5% 3% 5%;
    border-radius: 17px;
    width: 25%;
    margin-left: -2%;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 6px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginDer p {
    font-weight: bolder;
    font-size: 150%;
}

.loginDer h2 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    text-shadow: rgb(255, 255, 255) 3px 2px 2px;
}

.boton {
    padding: 2% 6% 2% 6%;
    border: none;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.486) 3px 4px 5px;
}

.mensajeError {
    color: #ff0000;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: start;
    padding: 1%;
}

.contenedorFooter {
    background-color: var(--colorTres);
    text-align: center;
    color: #fff;
    padding: 3%;
}

.contenedorFooterLogo {
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 2%;
}

.contenedorFooterLogo img {
    width: 100px;
    height: 100px;
}

.contenedorFooterRedesSociales {
    margin-top: 3%;
    justify-content: space-evenly;
    font-size: 40px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.493) 2px 3px 5px;
    align-items: center;
}

.contenedorFooterInfo {
    font-size: 20px;
}

.contenedorFooterRedesSociales img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}