body {
    font-family: 'Dosis', sans-serif;
    margin: 0%;
    min-height: calc(100vh - 50px);
}

header {
    background-color: var(--colorTres);
}

:root {
    --colorUno: #041C32;
    --colorDos: #04293A;
    --colorTres: #064663;
    --colorCuatro: #ECB365;
}

header h1 {
    font-family: 'Kaushan Script', cursive;
    margin: 0%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.headerSecc {
    font-family: 'Dosis', sans-serif;
    font-size: large;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

header li a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.contenedorLogo {
    width: 20%;
}

.imagenLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagenLogo img {
    width: 60px;
    height: 60px;
}

.Logo {
    width: 100%;
    background-color: var(--colorCuatro);
    text-shadow: rgba(0, 0, 0, 0.597) 2px 2px 1px;
    justify-content: end;
}

.esquina {
    border-top: 70px solid var(--colorCuatro);
    border-right: 70px solid var(--colorTres);
}

.mainColor {
    background-color: #7696A5;
}

.bordeDegradado {
    width: 100%;
    height: 150px;
    background: linear-gradient( #fff, #7696A5);
}

.contenedorTarjetas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5% 15% 1% 15%;
}

.tarjetaTitulo {
    background-color: var(--colorCuatro);
    width: 20%;
    padding: 3% 3% 3% 3%;
    box-shadow: #000 2px 3px 5px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.tarjetaTitulo h2 {
    text-shadow: rgba(0, 0, 0, 0.418) 1px 1px 1px;
    font-size: 130%;
    text-align: start;
}

.imgProducto {
    width: 100%;
    height: 65%;
}

.tarjetaProducto {
    background-color: #fff;
    width: 24%;
    box-shadow: rgba(0, 0, 0, 0.616) 2px 3px 10px;
    height: 100%;
}

.tarjetaDatos {
    padding: 4%;
    height: 12%;
}

.tarjetaDatos h3 {
    width: 100%;
    font-size: 25px;
}

.tarjetaDatos p {
    font-size: 120%;
}

.tarjetaDatosPrecio {
    justify-content: space-between;
    align-items: center;
}

.botonTarjeta {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    margin: 10px 0px 10px 0px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.897) 2px 3px 10px;
    border-radius: 17px;
}

.contenedorAnuncios {
    padding: 1% 15% 2% 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tarjetaAnuncio {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 31%;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.459) 2px 3px 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjetaAnuncio h3 {
    font-size: 180%;
    font-family: 'Kaushan Script', cursive;
}

.tarjetaAnuncio img {
    width: 100%;
}

.flexColum {
    display: flex;
    flex-direction: column;
}

.tarjetaRegresoClase h3 {
    font-family: 'Kaushan Script', cursive;
    margin-top: -20%;
    color: #fff;
    padding-left: 5%;
}

.tarjetaRegresoClase {
    background-color: #F9D302;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjetaRegresoClase img {
    height: 90%;
}

.contenedorDatosAnuncio p {
    font-size: 30px;
    margin-bottom: 2%;
}

.BotonRegresoClase {
    background-color: #000;
    color: #fff;
}

.tarjetaTrajes {
    font-family: 'Kaushan Script', cursive;
    background-color: #000;
    color: #fff;
    justify-content: space-between;
}

.tarjetaTrajes img {
    width: 100px;
}

.tarjetaGorra {
    background-color: #fff;
    justify-content: space-between;
}

.tarjetaGorra img {
    width: 50%;
}

.botonAzul {
    background-color: var(--colorTres);
    color: #fff;
    cursor: pointer;
}

.fuenteBotonAnuncio {
    font-size: 15px;
}

.contenedorBarraAzul {
    padding: 1% 16% 1% 16%;
}

.barraAzul {
    background-color: var(--colorTres);
    height: 5%;
    text-align: center;
    padding: 2%;
    font-size: 20px;
    color: #fff;
    font-weight: lighter;
}

.contenedorFundadores {
    padding: 1% 15% 3% 15%;
    justify-content: space-around;
}

.tarjetaFundadores {
    width: 18%;
}

.tarjetaFundadores img {
    width: 100%;
}

.informacionFundadores {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.contenedorCentrado {
    display: flex;
    flex-direction: column;
    height: 800px;
}

.imagenFondo {
    background-image: url('/img/fondo.bmp');
}

.contenedorPrincipalLogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin-top: 9%;
}

.loginIzq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--colorTres);
    color: white;
    padding: 3% 5% 3% 5%;
    border-radius: 10px;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 6px 20px;
}

input {
    border: 0px none;
    padding: 8px;
    margin-bottom: 3%;
    background-color: #EFEFF1;
    color: rgb(49, 48, 48);
    border-radius: 5px;
    width: 100%;
}

select {
    border: 0px none;
    padding: 8px;
    margin-bottom: 3%;
    background-color: #EFEFF1;
    color: rgb(49, 48, 48);
    border-radius: 5px;
    width: 100%;
}

select:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.parInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedorInputsColumn {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    text-align: start;
}

.inputColumn {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.loginDer {
    background-color: var(--colorCuatro);
    color: #000;
    padding: 3% 5% 3% 5%;
    border-radius: 17px;
    width: 25%;
    margin-left: -2%;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 6px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginDer p {
    font-weight: bolder;
    font-size: 150%;
}

.loginDer h2 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    text-shadow: rgb(255, 255, 255) 3px 2px 2px;
}

.boton {
    padding: 2% 6% 2% 6%;
    border: none;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.486) 3px 4px 5px;
}

.mensajeError {
    color: #ff0000;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: start;
    padding: 1%;
}

.contenedorFooter {
    background-color: var(--colorTres);
    text-align: center;
    color: #fff;
    padding: 3%;
}

.contenedorFooterLogo {
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 2%;
}

.contenedorFooterLogo img {
    width: 100px;
    height: 100px;
}

.contenedorFooterRedesSociales {
    margin-top: 3%;
    justify-content: space-evenly;
    font-size: 40px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.493) 2px 3px 5px;
    align-items: center;
}

.contenedorFooterInfo {
    font-size: 20px;
}

.contenedorFooterRedesSociales img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.contenedorGeneralCategoriasV {
    height: 670px;
    background-image: url('/img/fondo.bmp');
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mensajeCatalogoVacio {
    margin-top: 10%;
    background-color: var(--colorDos);
    padding: 5%;
    border-radius: 30px;
    height: 10%;
}

.contenedorGeneralCategoriasV h2 {
    font-family: 'Dosis', cursive;
    color: #fff;
    font-weight: 100;
}

.contenedorGeneralCategoriasNV {
    height: 100%;
    background-image: url('/img/fondo.bmp');
    padding-right: 5%;
    justify-content: space-between;
}

.contenedorTarjetasCategorias {
    width: 82%;
    flex-wrap: wrap;
    height: 100%;
    justify-content: end;
}

.tarjetaProductoCategorias {
    width: 22%;
    margin: 10px 10px 25px 10px;
    box-shadow: rgba(0, 0, 0, 0.459) 3px 8px 10px;
}

.tarjetaDatosCategorias {
    background-color: #fff;
    padding: 5%;
}

.tarjetaDatosCategorias p {
    margin: 0.5% 0% 1% 0%;
    font-size: 19px;
}

.tarjetaDatosCategorias h3 {
    margin: 0%;
}

.preciosTarjetaCategorias {
    justify-content: space-between;
}

.numberTarjetaCategoria {
    background-color: rgba(0, 0, 0, 0.233);
    width: 20%;
}

.contenedorGeneralCarrito {
    padding: 1% 10% 1% 10%;
    justify-content: space-between;
}

.contenedorListaCarrito {
    width: 70%;
    height: 100%;
}

.tarjetaListaCarrito {
    margin: 0% 0% 2% 0%;
    background-color: #fff;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    box-shadow: rgba(0, 0, 0, 0.459) 3px 8px 10px;
    border-radius: 10px;
}

.tarjetaListaCarrito p {
    margin: 0%;
    font-size: 120%;
}

.datosTarjetaListaCarrito {
    width: 100%;
    padding: 1%;
}

.tituloTarjetaListaCarrito {
    justify-content: space-between;
    align-items: center;
}

.botonCarrito {
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.459) 3px 8px 10px;
    border: 0px;
    width: 130px;
}

.datosTarjetaListaCarrito h2 {
    font-size: 130%;
}

.contenedorFacturacion {
    width: 20%;
    background-color: #fff;
    padding: 1%;
}

.etiquetasFacturacion p {
    margin: 0% 0% 2% 0%;
    font-weight: 700;
}

.etiquetasFacturacion {
    justify-content: space-between;
}

.contenedorBotonFacturacion {
    margin-top: 1%;
}

.contenedorFacturacion {
    border: rgba(0, 0, 0, 0.26) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.459) 3px 8px 10px;
    border-radius: 10px;
    height: 180px;
}


/* Modal carrito */

.modalCarrito {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 8%;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modalCarritoIzq {
    width: 48%;
    padding: 5%;
}

.modalCarritoDer {
    width: 48%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalCarritoLogo img {
    width: 70%;
}

.modalTarjetasCredito input {
    width: 100%;
    margin: 0% 0% 5% 0%;
}

.modalTarjetasCredito select {
    width: 100%;
    margin: 0% 0% 5% 0%;
}

.modalCarrito-contenido p {
    margin: 0%;
    font-weight: 700;
    font-size: 16px;
}

.modalCarrito-contenido label {
    font-weight: 700;
    font-size: 16px;
}

.modalCarrito-contenido {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0%;
    border: 1px solid #888;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalCarrito-header {
    padding: 2px 16px;
    background-color: var(--colorTres);
    color: white;
}

.modalCarrito-body {
    padding: 2px 16px;
    justify-content: space-between;
    background-color: #fff;
}

.modalCarrito-footer {
    padding: 2px 16px;
    background-color: var(--colorTres);
    color: white;
}

.panelInicioEmpleado {
    background-color: var(--colorTres);
    height: 30%;
    width: 35%;
    text-align: center;
    margin-top: 8%;
    font-size: 160%;
    padding: 2%;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.432) 3px 5px 10px;
}

.contenedorModuloEmpleado {
    display: flex;
    flex-direction: row;
}

.contenedorContenidoModuloEmpleado {
    width: 100%;
}

.tituloModuloEmpleado {
    background-color: var(--colorTres);
    width: 40%;
    color: #fff;
    font-size: 200%;
    padding: 2%;
    margin-top: 15%;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.623) 4px 5px 10px;
    font-weight: 400;
}

.tituloModuloEmpleado p {
    margin-bottom: 10%;
}

.contenedorMenuSlider {
    width: 15%;
    height: 100%;
}

.encabezadoControl {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 93%;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-top: 10px;
    color: var(--colorTres);
    box-shadow: rgba(0, 0, 0, 0.637) 2px 3px 10px;
}

.encabezadoControl p {
    font-weight: 600;
}

.encabezadoControl h3 {
    font-size: 150%;
}

.botonReporte {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.329) 2px 3px 10px;
    margin: 3px;
    color: #fff;
}

.botonVerde {
    background-color: #2D791E;
}

.separadorTablasControles {
    background-color: var(--colorTres);
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    color: #fff;
    padding: 8px;
}

.contenedorCrud {
    width: 93%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabla {
    padding: 10px;
}

.contenedorTabla {
    background-color: #fff;
    width: 75%;
    text-align: left;
    margin-bottom: 100px;
}

.contenedorTabla td {
    width: 10%;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: rgba(136, 136, 136, 0.068);
}

.contenedorTabla th {
    border-bottom: rgba(0, 0, 0, 0.267) 1px solid;
    padding-bottom: 8px;
}

.contenedorPanelBotones {
    background-color: var(--colorTres);
    width: 22%;
    padding: 30px 10px 10px 10px;
    font-size: 18px;
    color: #fff;
    height: 500px;
}

.contenedorPanelBotones input {
    width: 75%;
    background-color: #fff;
    border-radius: 10px;
}

.contenedorPanelBotones select {
    width: 75%;
    border-radius: 10px;
    background-color: #fff;
}

.inputCRUD {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botonCRUDCorto {
    width: 98%;
    padding: 4px 0px 4px 0px;
    margin: 2% 1% 2% 1%;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 7px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.493) 2px 3px 10px;
}

.contenedorBotonesCRUD {
    width: 100%;
    display: flex;
    justify-content: end;
}

.botonesCRUD {
    width: 75%;
}