<div class="contenedorFooter">
    <div class="contenedorFooterLogo flexRow">
        <img src="/img/logoBlanco.png" alt="Logo The Locker">
        <h2>The Locker</h2>
    </div>
    <div class="contenedorFooterInfo">
        <p>The Locker es una tienda en linea certificada bajo los mejores estandares de calidad.</p>
        <p>Puedes encontrarnos en nuestras redes sociales.</p>
    </div>
    <div class="contenedorFooterRedesSociales flexRow">
        <img src="/img/facebook.png" alt="">
        <p>/</p>
        <img src="/img/instagram.png" alt="">
        <p>/</p>
        <img src="/img/google.png" alt="">
        <p>/</p>
        <img src="/img/twitter.png" alt="">
    </div>
</div>

</main>
<script src="/scripts/slideBar.js"></script>
</body>

</html>