<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>The Locker</title>
</head>

<body>
    <main>
        <header>
            <nav>
                <ul class="flexRow">
                    <div class="flexRow contenedorLogo">
                        <div class="Logo flexRow">
                            <div class="imagenLogo">
                                <img src="/img/logoBlanco.png" alt="">
                            </div>
                            <li>
                                <a href="">
                                    <h1>The Locker</h1>
                                </a>
                            </li>
                        </div>
                        <div class="esquina colorCuatro">
                        </div>
                    </div>
                    </div>
                    <div class="headerSecc">
                        <div class="flexRow">
                            <li>
                                <a href="/thelocker/producto/catalogo/Mujer">Mujeres</a>
                            </li>
                            <li>
                                <a href="/thelocker/producto/catalogo/Nino">Niños</a>
                            </li>
                            <li>
                                <a href="/thelocker/producto/catalogo/Hombre">Hombres</a>
                            </li>
                            <li>
                                <a href="/thelocker/producto/catalogo/Explorar">Explorar</a>
                            </li>
                        </div>
                        <div class="flexRow">
                            <li>
                                <a href="">
                                    <%= localStorage.getItem('nombreUsuario') %>
                                </a>
                            </li>
                            <li>
                                <a href="">Salir</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </nav>
        </header>