<link rel="stylesheet" href="/css/slidebarMenu.css">
<div class="l-navbar" id="navbar">
    <div class=".nav">
        <!-- Logo+Text -->
        <a href="/thelocker/dashboard" class="nav-logo-container">
            <span class="material-icons" style="color: white;">
                menu
                </span>
            <span class="logo-text">Menu</span>
        </a>
        <!-- Toggle -->
        <div class="nav-toggle" id="nav-toggle">
            <span class="material-icons iconoBlanco">chevron_right</span>
        </div>
        <!-- Lista de compras -->
        <ul class="nav-list">
            <div>
                <a href="/thelocker/dashboard/controlCatalogo" class="botonMenuSlide active">
                    <img src="/img/iconoCatalogo.png" alt="">
                    <p>Catalogo</p>
                </a>
                <a href="/thelocker/dashboard/controlUsuarios" class="botonMenuSlide active">
                    <img src="/img/iconoUsuarios.png" alt="">
                    <p>Usuarios</p>
                </a>
                <a href="/thelocker/dashboard/controlVentas" class="botonMenuSlide active">
                    <img src="/img/iconoVentas.png" alt="">
                    <p>Ventas</p>
                </a>
                <a href="/thelocker/dashboard/controlInventario" class="botonMenuSlide active">
                    <img src="/img/iconoInventario.png" alt="">
                    <p>Inventario</p>
                </a>
                <a href="/thelocker/dashboard/Bitacora" class="botonMenuSlide active">
                    <img src="/img/iconoBitacora.png" alt="">
                    <p>Bitacora</p>
                </a>
            </div>
            <div>
                <a href="/thelocker/login" class="botonMenuSlide active">
                    <img src="/img/iconoSalir.png" alt="">
                    <p>Salir</p>
                </a>
            </div>
        </ul>
    </div>
</div>