<link rel="stylesheet" href="/css/slidebar.css">
<div class="l-navbar" id="navbar">
    <div class=".nav">
        <!-- Logo+Text -->
        <a href="#" class="nav-logo-container">
            <span class="material-icons" style="color: #fff;">
                shopping_bag
                </span>
            <span class="logo-text">Lista de Compras Actual</span>
        </a>
        <!-- Toggle -->
        <div class="nav-toggle" id="nav-toggle">
            <span class="material-icons iconoBlanco">chevron_right</span>
        </div>
        <!-- Lista de compras -->
        <ul class="nav-list">
        </ul>
    </div>
</div>